[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #707598;
}

[data-md-color-scheme="default"] img[src$="#logo-dark"] {
  display: none;
}

[data-md-color-scheme="default"] img[src$="#logo-light"] {
  display: block;
}

[data-md-color-scheme="slate"] img[src$="#logo-dark"] {
  display: block;
}

[data-md-color-scheme="slate"] img[src$="#logo-light"] {
  display: none;
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 600px) {
  .feature-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .feature-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-4px, 4px);
  }
  2% {
    transform: translate(0, 0);
  }
  3% {
    transform: translate(4px, -4px);
  }
  4% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(0, 0);
  }
  11% {
    transform: translate(-4px, -4px);
  }
  12% {
    transform: translate(0, 0);
  }
  13% {
    transform: translate(4px, 4px);
  }
  14% {
    transform: translate(0, 0);
  }
}
#wiggle-logo {
  animation: wiggle 2s infinite;
}

.artworks-gal {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  margin: auto;
}

@media (min-width: 600px) {
  .artworks-gal {
    grid-template-columns: repeat(2, 1fr);
  }
}

.artworks-gal img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.spcard {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  flex-direction: row;
}
.spcard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.spcard-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spcard-title {
  font-size: 24px;
  margin: 0 0 10px;
}
.spcard-text {
  font-size: 16px;
  margin: 0 0 10px;
}
@media (max-width: 800px) {
  .spcard {
    flex-direction: column;
    text-align: center;
  }
  .spcard img {
    align-self: center;
    max-width: 250px;
    height: auto;
  }
  .spcard-content {
    padding: 20px;
  }
}

.spbutton {
  display: inline-block;
  padding: 10px 20px;
  margin: 2px 0;
  font-size: 16px;
  background-color: #bbd1ea;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
