[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #707598;
}

[data-md-color-scheme="default"] img[src$="#logo-dark"] {
  display: none;
}

[data-md-color-scheme="default"] img[src$="#logo-light"] {
  display: block;
}

[data-md-color-scheme="slate"] img[src$="#logo-dark"] {
  display: block;
}

[data-md-color-scheme="slate"] img[src$="#logo-light"] {
  display: none;
}
